# Gradle files 
.gradle/ 
/build/ 
*/build/ 
# Local configuration file (sdk path, etc) 
local.properties 
# Log files 
*.log 
# Android Studio Navigation editor temp files 
.idea/navEditor/ 
# Android Studio captures folder 
captures/ 
# IntelliJ 
.idea/workspace.xml 
.idea/tasks.xml 
.idea/dictionaries 
.idea/libraries 
# Keystore files 
*.jks 
# External native build folder generated in Android Studio 2.2+ 
.externalNativeBuild/ 
# Google Services (e.g. APIs or Firebase) 
google-services.json 
# Android profiling 
*.hprof 
# Eclipse 
.metadata/ 
*.tmp 
*.bak 
*.swp 
.idea/ 
*.swo 
